html, body {
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 10px auto;
    width: 1000px;
}
#login-button-wrap {
    text-align: center;
}
#login-button {
    display: none;
}
#main {
    margin-top: 20px;
}


#test-section {
    display: none;

    text-align: center;
}
#word {
    display: block;

    font-weight: bold;
    font-size: 26pt;
}
#meaning {
    font-size: 20pt;
}
.check-button {
    display: none;

    font-size: 25pt;
    padding: 15px;
}
#correct {
    margin-right: 20px;
}

#status {
    height: 40px;

    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}



#upload-section {
    display: none;
}